*{
	padding: 0;
	margin: 0;
}



#top{
	width: 100%;
	height: 50px;
	background-color: #fcb900;
}

#h2{
	padding-top: 10px;
	padding-left: 150px;
	color: #021078;
	font-size: 25px;
	font-family: sans-serif;
}

.a{

	text-decoration: none;
}
#topicon{
	position: absolute;
	top: 10px;
	right: 150px;
}

#navbar{
	width: 100%;
	height: 60px;
	background-color: #000857;
}

#logo{
	width: 60px;
	height: 60px;
	margin: 5px 0px 5px 150px;
}

#al #logo:hover{
	border-width: 1px;
	border-color: white;
	border-style: solid;
}

#topmenu{
	float: right;
	list-style-type: none;
}

#topmenu .li{
	display: inline-block;
	font-size: 20px;
	padding: 20px 10px 18px 10px;
	transition: 0.2s;
	transition-timing-function: ease-in-out;
}

#topmenu .li .a{
	color: white;
}

#topmenu .li:hover{
	background-color: red;
}

#topmenu .li .a:hover{
	color: blue;
}

#topmenu .li .a:active{
	color: aqua;
	transition: 0.1s;
}

#topmenu .li:active{
	background-color: blue;
	border-width: 2px;
	border-color: white;
	border-left-style: solid;
	border-right-style: solid;
	transition: 0.1s;
}

#banner{
	width: 100%;
	height: 600px;
}

#banner2{
	width: 100%;
	height: 600px;
}

#cardview{
	height: 350px;
	width: 100%;
	margin-top: 2px;
}
/*card1*/
#card1{
	width: 24.7%;
	height: 350px;
	background-color: #61ce70;
	float: left;
	border-width: 2px;
	border-color: white;
	border-style: solid;
}

#card1 img{
	padding-top: 12px;
	padding-left: 140px;
}

#card1 h2{
	color: white;
	text-indent: 10px;
	margin-bottom: 5px;
}

#card1 p{
	font-size: 18px;
	padding: 10px;
	color: blue;
	text-align: justify;
} 
/*card2*/
#card2{
	width: 24.7%;
	height: 350px;
	background-color: #000000;
	float: left;
	border-width: 2px;
	border-color: white;
	border-style: solid;
}

#card2 img{
	padding-top: 12px;
	padding-left: 140px;
}

#card2 h2{
	color: #0693e3;
	text-indent: 10px;
	margin-bottom: 5px;
}

#card2 p{
	font-size: 18px;
	padding: 10px;
	color: white;
	text-align: justify;
} 
/*card3*/
#card3{
	width: 24.7%;
	height: 350px;
	background-color:#FF920E;
	float: left;
	border-width: 2px;
	border-color: white;
	border-style: solid;
}

#card3 img{
	padding-top: 12px;
	padding-left: 140px;
}

#card3 h2{
	color: red;
	text-indent: 10px;
	margin-bottom: 5px;
}

#card3 p{
	font-size: 18px;
	padding: 10px;
	color: bla;
	text-align: justify;
}


#card4{
	width: 25%;
	height: 350px;
	background-color: blue;
	float: left;
	border-width: 2px;
	border-color: white;
	border-style: solid;
}

#card4 img{
	padding-top: 12px;
	padding-left: 140px;
}

#card4 h2{
	color: whitesmoke;
	text-indent: 10px;
	margin-bottom: 5px;
}

#card4 p{
	font-size: 18px;
	padding: 10px;
	color: white;
	text-align: justify;
} 


#web1{
	text-align: center;
	font-size: 40px;
	padding-top: 20px;
	font-family: sans-serif;
	color: blue;
	text-shadow: 2px 3px 5px blue,1px 1px 8px yellow;
}

#pd{
	padding: 20px 20px 0px 20px;
	text-align: justify;
	font-size: 20px;
	font-weight: bold;
	font-family: sans-serif;
}

#web2{
	text-align: center;
	font-size: 46px;
	color: #523C3C;
	font-family: sans-serif;
	text-shadow: 1px 1px 4px blue;
}

#photo{
	width: 400px;
	width: 400px;
	float: right;
	padding-left: 40px;
	padding-bottom: 30px;
}

#cardv{
	width: 100%;
	height: 360px;
	margin-top: 20px;
}
/*cardo*/
.cardo{
	width: 25%;
	height: 360px;
	background-color: gray;
	float: left;
}
.img{
	width: 60px;
	height: 60px;
	padding: 15px 0px 10px 160px;
}

.cardo h2{
	color: white;
	font-size: 30px;
	text-align: center;
}

.cardo hr{
	margin: 10px 10px 15px 10px;
}

.cardo p{
	text-align: center;
	line-height: 25px;
	font-weight: 900;
	color: white;
	padding: 14px;
	font-size: 15px;	
}

.cardo .button{
	margin: 50px 0px 0px 120px;
	width: 120px;
	padding: 11px;
	border-radius: 7px;
}

.cardo .button:hover{
	background-color: #fcb900;
	color: white;
	transition: 0.3s;
}
/*cardt*/
.cardt{
	width: 25%;
	height: 360px;
	background-color: gray;
	float: left;
}
.img{
	width: 60px;
	height: 60px;
	padding: 15px 0px 10px 160px;
}

.cardt h2{
	color: white;
	font-size: 30px;
	text-align: center;
}

.cardt hr{
	margin: 10px 10px 15px 10px;
}

.cardt p{
	text-align: center;
	line-height: 25px;
	font-weight: 900;
	color: white;
	padding: 14px;
	font-size: 15px;
}

.cardt .button{
	margin: 50px 0px 0px 120px;
	width: 120px;
	padding: 11px;
	border-radius: 7px;
}

.cardt .button:hover{
	background-color: #fcb900;
	color: white;
	transition: 0.3s;
}
/*cardth*/
.cardth{
	width: 25%;
	height: 360px;
	background-color: gray;
	float: left;
}
.img{
	width: 60px;
	height: 60px;
	padding: 15px 0px 10px 160px;
}

.cardth h2{
	color: white;
	font-size: 30px;
	text-align: center;
}

.cardth hr{
	margin: 10px 10px 15px 10px;
}

.cardth p{
	text-align: center;
	line-height: 25px;
	font-weight: 900;
	color: white;
	padding: 14px;
	font-size: 15px;
}

.cardth .button{
	margin: 50px 0px 0px 120px;
	width: 120px;
	padding: 11px;
	border-radius: 7px;
}

.cardth .button:hover{
	background-color: #fcb900;
	color: white;
	transition: 0.3s;
}
/*cardf*/
.cardf{
	width: 25%;
	height: 360px;
	background-color: gray;
	float: left;
}
.img{
	width: 60px;
	height: 60px;
	padding: 15px 0px 10px 160px;
}

.cardf h2{
	color: white;
	font-size: 30px;
	text-align: center;
}

.cardf hr{
	margin: 10px 10px 15px 10px;
}

.cardf p{
	text-align: center;
	line-height: 25px;
	font-weight: 900;
	color: white;
	padding: 14px;
	font-size: 15px;
}

.cardf .button{
	margin: 50px 0px 0px 120px;
	width: 120px;
	padding: 11px;
	border-radius: 7px;
}

.cardf .button:hover{
	background-color: #fcb900;
	color: white;
	transition: 0.3s;
}

#last{
	width: 100%;
	height: 330px;
	margin-top: 30px;
}

#stu{
	width: 33.3%;
	height: 330px;
	background-image: url("student.png");
	background-size: cover;
	float: left;
}

#name{
	width: 33.3%;
	height: 330px;
	float: left;
}

#name h1{
	text-align: center;
	padding-top: 150px;
	font-size: 46px;
	font-weight: 900;
	font-family: sans-serif;
}

#click{
	width: 33.3%;
	height: 330px;
	float: left;
}
#click button{
	margin-left: 100px;
	margin-top: 150px;
	width: 300px;
	height: 80px;
	border-radius: 25px;
	font-size: 46px;
	font-weight: 900;
	outline-width: 1px;
	outline-color: black;
	outline-style: solid;
	text-shadow: 3px 4px 6px black;
	color: white;
	background-color: #6ec1e4;
}

#click button:hover{
	background-color: yellow;
	transition: 0.2s;
	border-width: 3px;
	border-color: blue;
	border-style: groove;

}

#click button a{
	text-decoration: none;
	color: white;
}

#footer{
	width: 100%;
	height: 60px;
	background-color: #222222;
	margin-top: 13px;
}

#end{
	background-color: #1B1B1B;
	width: 100%;
	height: 60px;
}

#end p{
	text-align: center;
	color: white;
	padding-top: 20px;
	line-height: 2px;
}

#Neeraj{
	text-align: center;
	color: white;	
}

#nl{
	padding-right: 10px;
	color: aqua;
	font-style: italic;
	animation-name: neeraj;
	animation-duration: 6s;
	animation-delay: 0s;
	animation-iteration-count: infinite;
}

#nl:active{
	color: red;
}

@keyframes neeraj{
	0%{color: aqua;}
	100%{color: yellow;}	
}